<template>
  <div>
    <div class="row">
      <div class="col-md-4 visible-lg-block visible-md-block">
        Name
      </div>
      <div class="col-md-4 visible-lg-block visible-md-block">
        Hours
      </div>
      <div class="col-md-4 visible-lg-block visible-md-block">
        Locate us
      </div>
    </div>

    <div class="row" v-for="row of stores">
      <div class="col-md-4">{{row.attributes['name']}}</div>
      <div class="col-md-4">{{row.attributes['hour']}}</div>
      <div class="col-md-4">
        <button class="btn btn-primary" @click="locate(row)">
          Locate Us
        </button>
      </div>
    </div>

    <!-- modal for showing google map -->
    <div class="modal fade" tabindex="-1" role="dialog" id="store-location">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Locate us</h4>
          </div>
          <div class="modal-body">
            <img id="location" :src="map_image_url" :alt="map_image_name">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </div>
</template>

<script>
/* global axios, $ */
import store from '../store/store.js'

export default {
  name: 'Stores',
  data () {
    return {
      map_image_url: '',
      map_image_name: ''
    }
  },
  mounted () {
    axios.get('http://localhost:3000/api/v1/stores').then(stores => {
      store.commit('setStores', stores.data.data)
    })
  },
  methods: {
    locate (store) {
      $('#store-location').modal('toggle')
      this.map_image_url = store.attributes.map_url
      this.map_image_name = store.attributes.name
    }
  },
  computed: {
    stores () {
      return this.$store.state.stores
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

#location {
  max-width: 100%;
}

.row {
  padding: 5px;
}
</style>
